<div class="card mb-2" style="width: 50%;">
    <header class="card-header card-header-title has-background-grey-lighter">
        <div class="column">
            <p class=" has-text-primary-light"></p>
            <span><a href="/review/{{id}}" style="text-align: center; font-size:larger">Title: {{title}}</a></span>
        </div>
        <div class="column">
            <span class=""> </span>
        </div>
    </header>
    <div class="card-content" style="font-size: large;">
        <span>
            Posted by {{user.name}} on {{format_date created_at}}
        </span>
        <br>
        <br>
        <div class="content has-text-justified">
            <p>Review: {{review_body}}</p>
        </div>
        <span>
            <a href="/review/{{id}}">{{comments.length}} comments</a>
        </span>

    </div>
</div>